* {
  margin: 0;
}

* {
  box-sizing: border-box;
}

<button class="button-1" role="button">Button 1</button>

/* CSS */
.button-1 {
  background-color: #FFFFFF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 72px;
  height: 72px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  transform: translateY(10px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(5px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.card .info {
    margin: -10px;
  position: absolute;
  z-index: 3;
  color: white;
  font-weight: bold;
  opacity: 0;
  text-align: center;
}
.card .info h1 {
  margin: -20px;
  text-align: center;
}
.card .info p {
    margin: -10px;
  letter-spacing: 1px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  inline-size: 72px;
  overflow-wrap: break-word;
}
.card .info button {
  height: 72px;
  width: 72px;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info button:hover {
  background: black;
  color: white;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 600px) {
  .body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .scroll_view {
    width: calc(100vw - 60px);
  }
}

@media only screen and (min-width: 601px) {
    .body {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .scroll_view {
        width: calc(500px - 40px);
    }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

.caption {
  color: #bbb;
  font-size: 16px;
  inline-size: 72px;
  overflow-wrap: break-word;
}

.header {
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.scroll_view {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll_view>.card {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  height: 125px;
  width: 275px;
  position: relative;
  display: inline-block;
  font-size: 0px;
}

.scroll_view>.img_card {
  background-color: #000;
  width: 250px;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0px;
}

.card>p {
  color: white;
  bottom: 15px;
  left: 15px;
  font-size: 0px;
  position: absolute;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.center {
  text-align: center;
}

.left_float {
  float: left;
}

.right_float {
  float: right;
}

.add_sileo {
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
}

.add_sileo:hover, a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.package {
  margin-bottom: 40px;
}

.package>img {
  border-radius: 20px;
  width: 75px;
  height: 75px;
  float: left;
}

.package_info {
  margin-left: 0px;
}

.package_name {
  font-weight: bold;
  font-size: 14px;
}

.package_caption {
  margin-top: 7px;
  color: #999;
}

.cell>.title {
  float: center;
  color: #999;
}

.cell>.text {
  float: center;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  margin-top: 20px;
}

.subtle_link, .subtle_link>div>div, .subtle_link>div>div>p {
  text-decoration: none;
  color: black;
}

.subtle_link:hover, .subtle_link>*:hover {
  opacity: 0.8;
}

.compatibility {
  background-color: #EFEFEF;
  color: #000000;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.green {
  background-color: #83ff98;
  border-color: #83ff98;
}

.red {
  background-color: #ffa283;
  border-color: #ffa283;
}

.banner_underlay {
  background-size: cover;
  background-position: center;
  height: 175px;
  width: 100%;
  border-radius: 10px;
  z-index: -2;
  margin-bottom: 25px;
  top: 0;
}

.changelog {
  display: none;
}

.nav {
  display: flex;
  margin: 20px;
  float: center;
}

.nav_btn {
  width: 50%;
  display: inline;
  text-align: center;
  color: #999;
  font-weight: 500;
  padding-bottom: 10px;
  cursor: pointer;
}

.changelog_entry {
  margin-bottom: 18px;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #677E94;
}

.table-btn, .table-btn>div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-btn:after {
  content: "›";
  font-size: 20px;
  transform: translateY(-40px);
  float: right;
}

.fa, .fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

a.pkg-button {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-block;
  width: 100%;
  background: linear-gradient(to left, rgba(200, 200, 200, 0.12) 15%, rgba(200, 200, 200, 0.25));
}

a.pkg-button.zebra {
  border-color: #313131;
  background-color: #313131;
}

a.pkg-button.sileo {
  border-color: rgb(40, 163, 176);
  background-color: rgb(40, 163, 176);
}

a.pkg-button.installer {
  border-color: rgb(21, 156, 215);
  background-color: rgb(21, 156, 215);
}

a.pkg-button.cydia {
  border-color: rgb(112, 64, 44);
  background-color: rgb(112, 64, 44);
}

.package-card-title .title {
  font-weight: bold;
}

.package-card-title .developer {}

#pkgSelect {
  color: #000000 !important;
  border: 1px solid #f3f3f3;
  background-color: rgba(0, 0, 0, 0);
  margin: 1.5%;
  border-radius: 20px;
  padding: 7px;
  -webkit-appearance: none !important;
  appearance: none !important;
}

#pkgSelectLabel {
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: white;
  }

  .subtle_link, .subtle_link>div>div, .subtle_link>div>div>p {
    color: white;
  }

  #pkgSelect {
    color: #FFFFFF !important;
  }
}

.caption_center_footer {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  text-align: center;
}
